
.group-header {
  position: relative;
  .under-inci-info {
    position: absolute;
    z-index: 999;
    right: 0;
    top: -1px;
    width: 290px;
    height: 101px;
    @media (max-width: @screen-md) {
      position: static;
      width: auto;
      height: auto;
      button{
        width: 100%;
        margin: 5px auto;
        padding: 6px;
      }
    }
  }
  @media (max-width: @screen-sm) {
    img {
      display: none !important;
    }
  }
}
.path-frontpage{
  .under-inci-info {
    padding: 30px 20px;
    height: 360px;
    background-color: @black-ensemble;
    h3{
      min-height: 30px;
      margin-top: 20px;
      &.h3-information {
        margin-top: 120px;
      }
    }
    @media (max-width: @screen-md) {
      background-color: transparent;
      padding: 0;
      height: auto;
      h3{
        min-height: 30px;
        margin-top: 20px;
        &.h3-information {
          margin-top: -30px;
        }
        a{
          background-color: @black-ensemble;
          display: block;
          padding: 5px 20px;
          border-radius: 5px;
          width: 80%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}
.under-inci-info {
  color: white;
  background-color: white;
  button{
    width: 200px;
    margin: 5px 0 5px 45px;
    padding: 6px;
  }
  .information {
    color: white;
    &:before {
      .glyphicon();
      content: "\e818";
      color: #FFF;
    }
  }
  .incitation {
    color: white;
    &:before {
      .glyphicon();
      content: "\e87b";
      color: #FFF;
    }
  }
  h3 {
    padding-left: 50px;
    margin-top: 15px;
  }
  @media (max-width: @screen-sm) {
    position: static;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    height: auto;
    h3 {

      padding: 0;
      background-color: black;
      width: 90%;
      border-radius: 8px;
      margin: 10px auto;
      a {
        display: block;
        text-align: center;
        padding: 10px;
      }
    }
  }
}