/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';
@red-ensemble: #F40000;
@green-ensemble: #70A12C;/*#35FF00;*/
@noir-ensemble: #333333;
@violet-ensemble: darkviolet;
@blue-ensemble: midnightblue;
@fond-ensemble: #FBFCFD;
@gray-ensemble: #C8C8C8;
