<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="localisation">Evénements citoyens géolocalisés</h2>
            <div id="map-legend"></div>
            <div id="date-markers-legend">
                <span id="show-markers" class="date-legend">Tous les événements</span>
            </div>
            <div id="map" class="map--front"></div>
        </div>

    </div>
</div>